body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #ff6464;
    color: #333;
  }
  
  nav {
    background: #426d49;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    color: white;
    margin-left: 1rem;
    text-decoration: none;
    font-weight: bold;
  }
  
  .container {
    max-width: 500px;
    margin: 3rem auto;
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  form input[type="text"],
  form input[type="button"] {
    display: block;
    width: 100%;
    margin: 1rem 0;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  form input[type="button"] {
    background: #39a83d;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    
  }
  
  form input[type="button"]:hover {
    background: #712323;
  }
  
  #timer, #orderDetails {
    margin-top: 2rem;
    text-align: center;
  }
  
  #time {
    font-size: 2rem;
    margin-top: 0.5rem;
  }
  

/* countdown css */

/* .countdown-container {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
svg {
  transform: rotate(-90deg);
}
.circle-bg {
  fill: none;
  stroke: #444058;
  stroke-width: 12;
}
.circle-progress {
  fill: none;
  stroke: #ff5e57;
  stroke-width: 12;
  stroke-linecap: round;
  transition: stroke-dashoffset 1s linear;
}
.time-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  font-weight: bold;
}
input, button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
} */

/* new countdown code */

.countdown-container {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
svg {
  transform: rotate(-90deg);
}
.circle-bg {
  fill: none;
  stroke: #444058;
  stroke-width: 12;
}
.circle-progress {
  fill: none;
  stroke: #ff5e57;
  stroke-width: 12;
  stroke-linecap: round;
  transition: stroke-dashoffset 1s linear;
}
.time-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  font-weight: bold;
}
input, button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
}